In [3]:
import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Lums_786@Tasneem',
    database='testdatabase'
)

if connection.is_connected():
    print(f"Connected to MySQL Server version {connection.get_server_info()}")

Connected to MySQL Server version 9.0.1

In [4]:
cursor = connection.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INT,
    position VARCHAR(100)
)
""")
connection.commit()
print("Table 'employees' created successfully.")

Table 'employees' created successfully.

# SQLITE